@import "tailwindcss";

@theme inline {
  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
 
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
    50% {
      transform: translateX(50%) translateY(10%);
    }
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
 
  @keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
 
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(50%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  background-color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1px;
}

body {
  scrollbar-width: ultra-thin;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 2px;
  border: 1px solid var(--scrollbarBG);
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-radius: 10px;
}


.loader {
  display: flex;
  justify-items: center;
  align-items: center;
}

.shape {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid;
  transform-origin: center;
  animation: rotateShape 1.5s infinite ease-in-out, neonGlow 1.5s infinite alternate;
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.square {
  transform: rotate(45deg);
}

.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes rotateShape {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.2) rotate(180deg);
    opacity: 0.6;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

@keyframes neonGlow {x 
  0% {
    border-color: cyan;
    box-shadow: 0 0 8px cyan;
  }
  50% {
    border-color: magenta;
    box-shadow: 0 0 12px magenta;
  }
  100% {
    border-color: lime;
    box-shadow: 0 0 8px lime;
  }
}
